
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - oathkeeper.ory.sh
  resources:
  - rules
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - oathkeeper.ory.sh
  resources:
  - rules/status
  verbs:
  - get
  - update
  - patch
